.movie_wrapper{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.movie{
    width: 400px;
    height: 640px;
    padding : 15px;
    margin : 10px;
    border: 1px solid;
}

.movie > h4{
    text-align: center;
    margin : 10px 0 20px 0;
}

.movie .imgWrapper{
    border: 1px solid;
    width:230px;
    height: 345px;
    margin: 0 auto;
    padding: 5px;
}

.loading{
    width:100%;
    height: 100vh;
    opacity: "0.5";
    background-color: white;
    display:flex;
    justify-content:center;
    align-items: center;

}

.loading .loading_img{
    width:50px;
    
}